@charset "utf-8";
@import "node_modules/bulma/bulma.sass";
@import "ember-power-select";

body {
  padding: 1em;
}

.demo {
  margin-top: 1em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.card.is-full {
  width: 100%;
}
